<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Monti Mailer</title>

		<style>
			body {
				color: #333;
				background-color: whitesmoke;
				font-size: clamp(16px, 2vw, 20px);
				margin: 0;
				line-height: 1.65;
				padding: clamp(20px, 7vw, 40px);
			}
		</style>
	</head>
	<body>
		<h1>Monti Mailer</h1>
		<p>
			Monti mailer is a simple web application that allows you to submit contact forms from static websites
			using only Javascript.
		</p>

		<p>How to use it:</p>
		<ol>
			<li>
				The form submitted from the form should include the following fields:
				<ul>
					<li>from: usually set to be the same as the recipient.</li>
					<li>sender: the email address of the person submitting the form.</li>
					<li>name (optional): name of the sender.</li>
					<li>phone (optional): phone number of the sender.</li>
					<li>to: the email of the recipient of the contact form.</li>
					<li>subject: the subject of the email.</li>
					<li>message: the content of the email. 2. If the email is succesfully sent,</li>
				</ul>
			</li>
			<li>
				You will receive a JSON response with a 200 status code and the information of the email sent. If it
				fails, it will respond with a 500 status code.
			</li>
		</ol>
	</body>
</html>
